<h1 class="titulo">Centro Odontológico "UCB"</h1>
<div class="caja">
		<form id="formulario" action="">
		<h1>¡Contactenos! Le responderemos apenas veamos su mensaje</h1>
		<label for="user">Nombres: </label>
        <input type="text" name="nombre">
        <label for="user">Apellidos: </label>
        <input type="text" name="apellido">
        <label for="user">Dirección: </label>
        <input type="text" name="direccion">
        <label for="user">Edad: </label>
        <input type="text" name="edad">
        <label for="user">Celular: </label>
        <input type="text" name="celular">
        <label for="user">Correo Electrónico: </label>
        <input type="text" name="email">
        <label for="user">Fecha </label>
        <input type="date" name="fecha_r"> 
        <input type="submit" (click)="envio();" value="Enviar"><br>
        </form>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.4725827496654!2d-68.13412028575262!3d-16.502222645156408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f207aa8046923%3A0x4540eecb24f0a64d!2sOdontomundo%20Cl%C3%ADnica%20Odontol%C3%B3gica!5e0!3m2!1ses!2sbo!4v1654150756887!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<footer class="pie-pagina">
		<div class="grupo-1">
			<div class="box">
				<figure>
					<a href="#">
						<img _ngcontent-ctv-c18="" src="https://media.istockphoto.com/vectors/dentist-icon-vector-id1078557414?k=20&amp;m=1078557414&amp;s=612x612&amp;w=0&amp;h=bJ-UU8xZe53kZ19a35ivCls5Qy7UU42dpqMtcwhbg9Y=" alt="logo">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>Contamos con todas las especialidades odontológicas para brindarle la mejor atención a Ud. y toda su familia.</p>
				<p>Más de 5 años de experiencia donde se ha atendido a más de 2.000 pacientes.</p>
			</div>
		</div>
		<div class="grupo-2">
			<small>&copy; 2021 <b>Luis Felipe Pérez Caro - Venta de Maletas y Mochilas Targus</b> - Todos los derechos reservados</small>
		</div>
	</footer>

