<font color=white size="4" face="Comic Sans MS">
    <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Campos</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ciencias</td>
        <td>Computacionales</td>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ingenieria</td>
        <td>de</td>
        <td>software</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Redes</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      <th scope="row">4</th>
      <td>Infraestructura</td>
      <td>computacional</td>
      <td></td>
    </tr>
    </tbody>
  </table>
      </font>