<img src="https://cdn.shopify.com/s/files/1/0426/9209/articles/Google_Forms_960x502_crop_center.png?v=1501081291960w" width="300" height="300" alt="Doble grande" border="0">
<font color=white size="4" face="Comic Sans MS">
    <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID Paciente</th>
        <th scope="col">Nombre Paciente</th>
        <th scope="col">Servicio</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ciencias</td>
        <td>Computacionales</td>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ingenieria</td>
        <td>de</td>
        <td>software</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Redes</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      <th scope="row">4</th>
      <td>Infraestructura</td>
      <td>computacional</td>
      <td></td>
    </tr>
    </tbody>
  </table>
      </font>