<img src="https://cdn.shopify.com/s/files/1/0426/9209/articles/Google_Forms_960x502_crop_center.png?v=1501081291960w" width="300" height="300" alt="Doble grande" border="0">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombres</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese sus nombres">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Apellidos</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese sus apellidos">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Servicio</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el servicio">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Fecha</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la fecha">
          </div>
          <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>