<nav class="navbar navbar-expand-md" style="size: 100%;">
    <a class="navbar-brand" routerLink="/home" style="background-color: #91e4d1;
      color: white; border-radius: 10px;">Odontologico UCB</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/servicios" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/plantel" routerLinkActive="active">Plantel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reservas" routerLinkActive="active">Reservas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cirugias" routerLinkActive="active">Cirugias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>